.modal {
  background: #f0dec9;
  padding: 30px;
  border-radius: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.buttons button {
  border: 1px solid #162029;
  border-radius: 30px;
  padding: 10px;
  background: #a6d0dd;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.buttons button:hover {
  opacity: 0.6;
}
